{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [rebar3_appup_plugin]}.

{provider_hooks, [
      {pre, [{compile, {appup, compile}},
             {clean, {appup, clean}}]}
]}.

{relx, [
    {release, { relapp, "1.0.0" },
        [relapp,
         sasl]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {include_erts, false},

    {generate_start_script, true},
    {extended_start_script, true}
]}.
