{erl_opts, [encrypt_debug_info,
            {debug_info_key, "some_key"}]}.

{deps, [
    {parse_trans, ".*", {git, "git://github.com/uwiger/parse_trans",
            {tag, "3.0.0"}}},
    {statsderl, ".*", {git, "https://github.com/lpgauth/statsderl.git",
            {tag, "0.5.2"}}}
]}.

{plugins, [rebar3_appup_plugin]}.

{provider_hooks, [
      {pre, [{tar, {appup, tar}}]},
      {post, [{compile, {appup, compile}},
              {clean, {appup, clean}}]}
]}.

{relx, [
    {release, { relapp, "1.0.32" },
        [relapp,
         parse_trans,
         sasl]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {include_erts, false},

    {generate_start_script, true},
    {extended_start_script, true}
]}.
